@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&family=Saira:wght@600&display=swap');

*{
    padding:0;
    margin:0;
    vertical-align:baseline;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}

header{
    display: flex;
    justify-content: space-around;
    background-color: #F5B700;
}
.logo{
    display: flex;
    padding-left: 20px;
    padding-top: 18px;
}
.links{
    padding-top: 61px;
}
.links a{
    font-family: 'Saira', sans-serif;
    font-weight: 600;
    font-size: 24px;
    Line-height: 38px;
    padding-left: 10px;
    color: #F9F5EA;
}

@media only screen and (max-width:414px){
    header{
        display: flex;
        flex-direction: column;
    }
    .logo{
        margin: 0 auto;
    }
    .logo img{
       width: 139.5px;
       height: 62px;
    }
    .links{
        padding-top: 10px;
        text-align: center;
        padding-bottom: 5px;
    }
    .links a{
        font-size: 16px;
        padding-left: 5px;
        line-height: 0px;
    }
}

@media only screen and (min-width:415px) and (max-width: 1024px){
    header{
        display: flex;
        flex-direction: column;
    }
    .logo{
        margin: 0 auto;
    }
    .logo img{
       width: 160px;
       height: 82.5px;
    }
    .links{
        padding-top: 10px;
        text-align: center;
        padding-bottom: 10px;
    }
    .links a{
        line-height: 0px;
    }
}

.quemsomos{
    font-family: 'Quicksand', sans-serif;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 10px 360px 0 360px;
}
.quemsomos h1{
    font-size: 64px;
    color: #563319;
}
.quemsomos img{
    width: 61px;
    height: 8px;
    margin: 0 auto;
}

.quemsomos h2{
    font-size: 24px;
    color: #665446;
    margin-top: 2rem;
    font-style: normal;
    font-weight: 400;
}

.quemsomos button{
    background-color: #37AFB9;
    color: white;
    width: 243.53px;
    height: 59px;
    font-size: 20px;
    border: #37AFB9;
    border-radius: 62px;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

@media only screen and (max-width:414px){
   .quemsomos{
    margin: 10px 30px 0 30px;
   }
   .quemsomos h1{
    font-size: 40px;
   }
   .quemsomos h2{
    font-size: 20px;
   }
   .quemsomos button{
    width: 180px;
    height: 50px;
    font-size: 15px;
    }
}

@media only screen and (min-width:415px) and (max-width: 1024px){
    .quemsomos{
        margin: 10px 50px 0 50px;
       }
       .quemsomos h1{
        font-size: 50px;
       }
       .quemsomos button{
        width: 200px;
        height: 50px;
        font-size: 18px;
        }
}