@import url('https://fonts.googleapis.com/css2?family=Saira:wght@600&display=swap');

*{
    padding:0;
    margin:0;
    vertical-align:baseline;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}

header{
    display: flex;
    justify-content: space-around;
    background-color: #F5B700;
}
.logo{
    display: flex;
    padding-left: 20px;
    padding-top: 18px;
}
.links{
    padding-top: 61px;
}
.links a{
    font-family: 'Saira', sans-serif;
    font-weight: 600;
    font-size: 24px;
    Line-height: 38px;
    padding-left: 10px;
    color: #F9F5EA;
}

@media only screen and (max-width:414px){
    header{
        display: flex;
        flex-direction: column;
    }
    .logo{
        margin: 0 auto;
    }
    .logo img{
       width: 139.5px;
       height: 62px;
    }
    .links{
        padding-top: 10px;
        text-align: center;
        padding-bottom: 5px;
    }
    .links a{
        font-size: 16px;
        padding-left: 5px;
        line-height: 0px;
    }
}

@media only screen and (min-width:415px) and (max-width: 1024px){
    header{
        display: flex;
        flex-direction: column;
    }
    .logo{
        margin: 0 auto;
    }
    .logo img{
       width: 160px;
       height: 82.5px;
    }
    .links{
        padding-top: 10px;
        text-align: center;
        padding-bottom: 5px;
    }
    .links a{
        line-height: 0px;
    }
}